<div class="component user-information-component">
  <h2 class="title">USER DETAILS</h2>
  <div class="user-details-content" *ngIf="userFullInfo">
    <div class="user-info">
      <div class="user-details-avatar">
        <img [src]="userFullInfo.avatar_url" alt="avatar">
      </div>
      <div class="user-details-info">
        <p class="details-item login">
          <span class="details-item-label">Login:</span>
          <span>{{ userFullInfo.login }}</span>
        </p>
        <p class="details-item full-name">
          <span class="details-item-label">Name:</span>
          <span>{{ userFullInfo.name }}</span>
        </p>
      </div>
    </div>
    <div class="user-details-repositories">
      <span class="details-item-label repos-title">Repositories:</span>
      <ul class="list repos-list">
        <li class="list-item repos-item" *ngFor="let repos of userRepositories" [routerLink]="['repos', repos.name]">
          <span class="translate-item">{{ repos.name }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
